<a href="https://colab.research.google.com/github/JimKing100/NFL-Live/blob/master/data-science/players/Players_Full.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Load the data
players_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/players_full.csv')
bye_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/bye.csv')
injury_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/injury.csv')

In [3]:
# The dataframe of all 2019 players
players_df.head()

  player          first     last                 name  ...  col   dv jnum  dcp
0     SF  San Francisco    49ers  San Francisco 49ers  ...  NaN  NaN  NaN  NaN
1    CHI        Chicago    Bears        Chicago Bears  ...  NaN  NaN  NaN  NaN
2    CIN     Cincinnati  Bengals   Cincinnati Bengals  ...  NaN  NaN  NaN  NaN
3    BUF        Buffalo    Bills        Buffalo Bills  ...  NaN  NaN  NaN  NaN
4    DEN         Denver  Broncos       Denver Broncos  ...  NaN  NaN  NaN  NaN

[5 rows x 23 columns]

In [4]:
# The dataframe of bye weeks for 2019 teams
bye_df.head()

  player          first     last                 name position1  bye-week
0     SF  San Francisco    49ers  San Francisco 49ers        DF         4
1    CHI        Chicago    Bears        Chicago Bears        DF         6
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF         9
3    BUF        Buffalo    Bills        Buffalo Bills        DF         6
4    DEN         Denver  Broncos       Denver Broncos        DF        10

In [5]:
# The dataframe of injuries for 2019 players
injury_df.head()

     uid   gid  year  week   player  ... position1 team details pstat gstat
0  29844  5194  2019    10  AA-0581  ...        TE   TB     Toe   NaN    IR
1  30530  5213  2019    11  AA-0581  ...        TE   TB     Toe   NaN    IR
2  31097  5228  2019    12  AA-0581  ...        TE   TB     Toe   NaN    IR
3  31629  5242  2019    13  AA-0581  ...        TE   TB     Toe   NaN    IR
4  32187  5256  2019    14  AA-0581  ...        TE   TB     Toe   NaN    IR

[5 rows x 13 columns]

In [0]:
# The main code for iterating through the player list and adding the bye week and injury week
players_list = players_df['player'].tolist()
bye_week = []
injury_week = []

for player in players_list:

    team = players_df['cteam'].loc[(players_df['player']==player)].iloc[0]

    bye_week.append(bye_df['bye-week'].loc[(bye_df['player']==team)].iloc[0])
    injury_weeks = injury_df['week'].loc[(injury_df['player']==player)]
    
    # If no injuries set injury week to non-existing week 18
    if (len(injury_weeks)==0):
        injury_week.append(18)
    else:
        injury_week.append(min(injury_weeks))

players_df['bye_week'] = bye_week
players_df['injury_week'] = injury_week

In [7]:
# The revised players_df dataframe
players_df

      player          first       last  ...  dcp bye_week  injury_week
0         SF  San Francisco      49ers  ...  NaN        4           18
1        CHI        Chicago      Bears  ...  NaN        6           18
2        CIN     Cincinnati    Bengals  ...  NaN        9           18
3        BUF        Buffalo      Bills  ...  NaN        6           18
4        DEN         Denver    Broncos  ...  NaN       10           18
..       ...            ...        ...  ...  ...      ...          ...
648  JW-5637         Juwann    Winfree  ...  1.0       10           15
649  RW-4050         Robert      Woods  ...  1.0        9           18
650  JW-6560         Jarius     Wright  ...  2.0        7           18
651  OZ-0100        Olamide  Zaccheaus  ...  2.0        9           18
652  BZ-0100        Brandon    Zylstra  ...  2.0        7           18

[653 rows x 25 columns]

In [0]:
# Save the results to .csv file
players_df.to_csv('/content/players_full1.csv', index=False)