<a href="https://colab.research.google.com/github/JimKing100/NFL-Live/blob/master/data-science/model-arima/Predictions_Offense.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Installs
%%capture
!pip install pmdarima
!pip install category_encoders==2.0.0

In [0]:
# Imports
import numpy as np
import pandas as pd
from statsmodels.tsa.arima_model import ARIMA
import pmdarima as pm
from sklearn import preprocessing

import category_encoders as ce

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# Import data
players_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/players_full.csv')
offense_pred_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/actuals/actuals_offense.csv')
kicker_pred_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/actuals/actuals_kickers.csv')
kickers_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/rookies_non_kicker.csv')
offense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/rookies_non_offense.csv')
bye_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/bye.csv')
injury_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/injury.csv')
player_df = pd.concat([kickers_df, offense_df], ignore_index=True)
original_df = pd.concat([offense_pred_df, kicker_pred_df], ignore_index=True)

In [0]:
# The dataframe of actual offensive points for each game from 2000-2019
original_df.head()

    player    first      last  ... 2019-game14 2019-game15  2019-game16
0  AD-0100     Andy    Dalton  ...        2.14       33.84        16.60
1  AM-1150     A.J.  McCarron  ...        0.00        0.00        17.90
2  AR-1300    Aaron   Rodgers  ...       14.42        9.34        19.02
3  AT-0160     Alex    Tanney  ...        0.04        0.00         0.00
4  BA-0375  Brandon     Allen  ...        0.00        0.00         0.00

[5 rows x 325 columns]

In [0]:
# The dataframe of all 2019 offensive players (kickers and offense)
player_df.head()

    player    first        last                name position1  start
0  AV-0400     Adam   Vinatieri      Adam Vinatieri         K   1996
1  MB-4600     Matt      Bryant         Matt Bryant         K   2002
2  RG-1500   Robbie       Gould        Robbie Gould         K   2005
3  MN-0800     Mike      Nugent         Mike Nugent         K   2005
4  SG-0800  Stephen  Gostkowski  Stephen Gostkowski         K   2006

In [0]:
# The dataframe of bye weeks for 2019 teams
bye_df.head()

  player          first     last                 name position1  bye-week
0     SF  San Francisco    49ers  San Francisco 49ers        DF         4
1    CHI        Chicago    Bears        Chicago Bears        DF         6
2    CIN     Cincinnati  Bengals   Cincinnati Bengals        DF         9
3    BUF        Buffalo    Bills        Buffalo Bills        DF         6
4    DEN         Denver  Broncos       Denver Broncos        DF        10

In [0]:
# The dataframe of injuries for 2019 players
injury_df.head()

     uid   gid  year  week   player  ... position1 team details pstat gstat
0  29844  5194  2019    10  AA-0581  ...        TE   TB     Toe   NaN    IR
1  30530  5213  2019    11  AA-0581  ...        TE   TB     Toe   NaN    IR
2  31097  5228  2019    12  AA-0581  ...        TE   TB     Toe   NaN    IR
3  31629  5242  2019    13  AA-0581  ...        TE   TB     Toe   NaN    IR
4  32187  5256  2019    14  AA-0581  ...        TE   TB     Toe   NaN    IR

[5 rows x 13 columns]

In [0]:
# Add a row to the final_df dataframe
# Each row represents the predicted points for each player
def add_row(df, p, f, l, n, pos, wc, wp, wa, cur, pred, act):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position': pos,
                    wc: cur,
                    wp: pred,
                    wa: act
                    }, ignore_index=True)
    
    return df

In [0]:
# The main code for iterating through the player(offense and kicker) list, calculating the points and adding the rows
# to the final_df dataframe.
def main(w):
    
    # Create the column names
    week_cname = 'week' + str(w) + '-cur'
    week_pname = 'week' + str(w) + '-pred'
    week_aname = 'week' + str(w) + '-act'

    column_names = ['player',
                    'first',
                    'last',
                    'name',
                    'position',
                    week_cname, 
                    week_pname,
                    week_aname
                     ]

    player_list = player_df['player'].tolist()

    # The column is the column of the dataframe (309 = 2019-game1)
    end_col = 308 + w

    week_df = pd.DataFrame(columns = column_names)

    for player in player_list:

        first = player_df['first'].loc[(player_df['player']==player)].iloc[0]
        last = player_df['last'].loc[(player_df['player']==player)].iloc[0]
        name = player_df['name'].loc[(player_df['player']==player)].iloc[0]
        position1 = player_df['position1'].loc[(player_df['player']==player)].iloc[0]
        start_year = player_df['start'].loc[(player_df['player']==player)].iloc[0]
        row = original_df.index[(original_df['player']==player)][0]
        team = players_df['cteam'].loc[(players_df['player']==player)].iloc[0]

        # Calculate the injury week
        injury_weeks = injury_df['week'].loc[(injury_df['player']==player)]
        if (len(injury_weeks)==0):
            injury_week = 18
        else:
            injury_week = min(injury_weeks)

        bye_week = bye_df['bye-week'].loc[(bye_df['player']==team)].iloc[0]

        # Handle players who starte prior to 2000
        if start_year < 2000:
            start_year = 2000
        col = ((start_year - 2000) * 16) + 5

        # Handle the bye week
        if w > bye_week:
            new_col = end_col - 1
        else:
            new_col = end_col

        train_data = original_df.iloc[row, col:new_col]

        # Calculate current points
        if w == 1:
            current = original_df.iloc[row, 293:309]
        else:  
            current = original_df.iloc[row, 309:new_col]
        cur_points = current.sum()

        # Calculate actual points
        actuals = original_df.iloc[row, new_col:325]
        act_points = actuals.sum()

        # Run the model excluding players without enough data
        if (start_year < 2016) & (train_data.sum() > 50):
            # ARIMA model
            model = pm.auto_arima(train_data, start_p=1, start_q=1,
                                  test='adf',       # use adftest to find optimal 'd'
                                  max_p=3, max_q=3, # maximum p and q
                                  m=1,              # frequency of series
                                  d=None,           # let model determine 'd'
                                  seasonal=False,   # No Seasonality
                                  start_P=0, 
                                  D=0, 
                                  trace=False,
                                  error_action='ignore',  
                                  suppress_warnings=True, 
                                  stepwise=True)
    
            # Forecast
            if w > bye_week:
                n_periods = 17 - w + 1
            else:
                n_periods = 17 - w
            fc = model.predict(n_periods=n_periods, return_conf_int=False)
            index_of_fc = np.arange(len(train_data), len(train_data)+n_periods)
            fc_series = pd.Series(fc, index=index_of_fc)
            if (injury_week <= w):
                pred_points = 0
            else:
                pred_points = fc_series.sum()
        else:
            pred_points = train_data.mean() * (18 - w)

        week_df = add_row(week_df, player, first, last, name, position1, week_cname,
                          week_pname, week_aname, cur_points, pred_points, act_points)
    return week_df

In [0]:
# Run for seasons 1 through 17
for i in range(1, 18):
    week = i
    final_df = main(week)

    week_pred = 'week' + str(week) + '-pred'
    week_act = 'week' + str(week) + '-act'
    week_diff = 'week' + str(week) + '-diff'
    week_pct = 'week' + str(week) + '-pct'

    final_df[week_diff] = final_df[week_pred] - final_df[week_act]
    final_df[week_pct] = final_df[week_diff].div(final_df[week_pred].where(final_df[week_pred]!=0, np.nan))
    final_df[week_pred] = final_df[week_pred].astype(int)

    file_name = '/content/week' + str(week) + '-pred-offense-norookies.csv'
    final_df.to_csv(file_name, index=False)